:root {
    /* --ms-blue-sof: #3A546D; */
    /* --bg-light_blue: #334D5C; */
    --dark_light: #333333;
    --bs-darker_blue: #2C3E50;
    --bs_primary: #1ABC9C;
}



/* #region debug */

/* #region grid/.debug */

/* .debug [class^="col"] {
    border: 1px solid;
} */

.debug [class^="col-"] {
    height: 500px;
}

/* .debug [class^="col-1"] {
    background-color: lightblue;
}

.debug [class^="col-2"] {
    background-color: lightcoral;
}

.debug [class^="col-3"] {
    background-color: lightgreen;
}

.debug [class^="col-4"] {
    background-color: lightpink;
}

.debug [class^="col-5"] {
    background-color: lightsalmon;
}

.debug [class^="col-6"] {
    background-color: lightseagreen;
}

.debug [class^="col-7"] {
    background-color: lightskyblue;
}

.debug [class^="col-8"] {
    background-color: lightyellow;
}

.debug [class^="col-9"] {
    background-color: lightsteelblue;
}

.debug [class^="col-10"] {
    background-color: purple;
}

.debug [class^="col-11"] {
    background-color: gold;
}

.debug [class^="col-12"] {
    background-color: royalblue;
} */

/* #endregion grid/.debug */

.debug header,
.debug footer {
    height: 80px;
}

.debug .start_bootstrap,
.debug .about,
.debug .contact,
.debug .address {
    height: 450px;
}

.debug .portfolio_card {
    background-color: red;
    border: 1px solid;
    height: 100%;
}

/* #endregion debug */

/* #region utilities */
img {
    max-width: 100%;
}

.bg_primary {
    background-color: var(--bs_primary);
}

.darker_blue {
    background-color: var(--bs-darker_blue);
}

.py_3 {
    padding: 3px 0;
}

.color_darker_blue {
    color: var(--bs-darker_blue);
}

.dark_light {
    color: var(--dark_light);
}

.c_primary {
    color: var(--bs_primary);
}

/* #endregion utilities */


/* #region header */

/* #endregion header */



/* #region main */


.address {
    background-color: var(--ms-blue-softy_blue);
}



/* #endregion main */



/* #region footer */

.item {
    width: 10%;
}

.item>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endregion footer */